.scientists {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-xl);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
